<div id="style_child">
    <div id="parent_btn">
       <ul>
          <li><a routerLink="/">Red</a></li>
          <li><a routerLink="bluecar">blue</a></li>
       </ul>
       <!-- <div id="red_btn"></div>
       <div id="blue_btn"></div> -->
    </div>
    <h4>Lorem ipsum dolor sit, 
      amet consectetur adipisicing elit. 
      Porro, minima voluptate dolorum eos iste 
      soluta iusto facere neque sit optio, quaerat iure in,
       eum aliquam commodi possimus velit facilis quisquam.</h4>  
  </div>
