<div id="all_rating">
    <!-- <h4>{{name}}</h4> -->
    <div id="rating_child">
        <div id="img_field">
          <img [src]="url">
          {{carName}}
        </div>
        <div id="rating_field">
           {{rating}}
        </div>
    </div>
    <div id="rating_child">
         <div id="img_field">
            <img [src]="url">
            {{carName}}
         </div>
         <div id="rating_field">
            {{rating}}        
        </div>
    </div>
    <div id="rating_child">
        <div id="img_field">
            <img [src]="url">
            {{carName}}
        </div>
        <div id="rating_field">
            {{rating}}      
        </div>
    </div>
    <div id="rating_child">
        <div id="img_field">
            <img [src]="url">
            {{carName}}
        </div>
        <div id="rating_field">
            {{rating}}         
        </div>
    </div>
    <div id="rating_child">
        <div id="img_field">
            <img [src]="url">
            {{carName}}
        </div>
        <div id="rating_field">
            {{rating}}       
        </div>
    </div>
</div>
