#rating_div{
    height: 300px;
    width: 100%;
    /* background-color: springgreen; */
    
}
#parent{
    display: flex;
    justify-content: space-between;
}
#child{
    width: 70%;
}
#child1{
    width: 28%;
    /* background-color: turquoise; */
}